body {
  padding-top: 50px;
  background-color: #eee;
}
.main-body{
  padding: 40px 15px;
}
.sensor-tables{
	text-align: center;
}

.sensor-tables table{
  margin-bottom: 30px;
}

.disconnect-button{
  float: right;
  padding-right: 50px;
  color: grey;
}

.disconnect-button:hover{
  color: red;
}

.sensor-desc{
  padding-top: 25px;
  margin: 0 auto;
}

.sensor-disc{
  margin-top: 25px;
  float: right;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

#server_log {
    max-height:300px;
    overflow-y:auto;  
}

#topo-div, #topo-feature {
  float: left;
}

#topo-div {
  width: 80%;
  height: 400px;
}

#topo-feature {
  max-height: 200px;
  overflow-y:auto;  
  width: 20%;
}

.schedule-btn{
  float: right;
}

.radio{
  margin-top: 0px;
}

.input-group{
  margin-right: 5px;
  margin-left:5px;
}