body {
  padding-top: 50px;
  background-color: #eee;
}
.main-body{
  padding: 40px 15px;
}

.modal {
    overflow-y:auto;
    max-height:100%;
}

.sensor-tables table{
  margin-bottom: 30px;
}

.table-button{
  color: grey;
}

.table-button:hover{
  cursor: pointer;
}

.susspend-button:hover{
  color: orange;
}

.disconnect-button:hover{
  color: red;
}

.remove-button:hover{
  color: red;
}
.sensor-desc{
  padding-top: 25px;
  margin: 0 auto;
}

.sensor-disc{
  margin-top: 25px;
  float: right;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

#server_log {
    max-height:300px;
    overflow-y:auto;  
}

#no-topo-div{
  float: left;
  width: 60%;
  height: 400px;
  text-align:center;
  line-height: 400px;
}

.no_data{
  width: 100%;
  height: 400px;
  text-align:center;
  line-height: 400px;
}

#topo-div {
  float: left;
  width: 60%;
  height: 400px;
}

.topo-radio{
  float: left;
  max-height: 200px;
  overflow-y:auto;  
  width: 20%;
}

#topo-filter{
  max-height: 400px;
}

.create-btn{
  margin-top: 10px;
  float: right;
}

.clear-btn{
  float: left;
}

.radio{
  margin-top: 0px;
}

.input-group{
  margin-right: 5px;
  margin-left:5px;
}

.legend li { 
  float: left; 
  margin-right: 10px; 
}

.legend span{ 
  float: left; 
  padding-right: 4px;
  width: 18px; 
  height: 18px; 
  margin: 2px; 
}

.green-legend{
  background-color: #99FF99;
}

.orange-legend{
  background-color: #FFCC66;
}

.red-legend{
  background-color: #FFCCCC;
}

.center{
  text-align: center;
}

.dataTable{
  margin-bottom: 0;
}

table.child-table{
  margin-bottom: 0;
  width: 95%;
  float: right;
}

#schedule-plot-dialog{
  width: 90%;
}